.formMapEdit {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  max-width: 280px;
  padding: 10px 15px;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 12px;
  position: relative;
}

.boxButtons {
  width: 90%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

.boxInputName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 22px;
  align-items: center;
}

.inputName, .btnCreateMap, .btnCancelMap, .btnDeleteMap {
  width: 100%;
  border-radius: 4px;
  padding: 5px 12px;
  margin-bottom: 12px;
  border: none;
}

.inputName {
  width: 180px;
  margin-bottom: 0;
  border-radius: 0;
  padding: 10px 0 10px 10px;
  background-color: transparent;
  color: white;
  font-size: 18px;
  opacity: .6;
}

.inputName:focus {
  opacity: 1;
  outline: none;
}

.inputIconPencil {
  opacity: .6;
}

.btnCreateMap, .btnCancelMap, .btnDeleteMap {
  cursor: pointer;
}

.btnCreateMap {
  background-color: rgb(45, 156, 63);
  color: white;
}

.btnCreateMap:hover {
  background-color: rgb(3, 161, 29);;
  transition: .1s all ease-in-out;
}

.btnCancelMap {
  background-color: rgb(255, 255, 255);
  color: black;
}

.btnDeleteMap {
  background-color: rgb(240, 50, 50);
  color: white;
}

.btnDeleteMap:hover {
  background-color: rgb(194, 40, 40);
  transition: .1s all ease-in-out;
}

.hrDelete {
  margin-bottom: 18px;
  width: 200px;
  height: 1px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.btnClosePanel {
  border: none;
  border-radius: 30px;
  padding: 0;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.btnClosePanel:hover {
  background-color: #ffffff2c;
  transition: .18s all ease-in-out;
}
