.formMap {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 12px;
  min-width: 280px;
  max-width: 280px;
  position: relative;
  height: 160px;
}

.boxButtonsNewMap {
  position: absolute;
  width: 90%;
  bottom: 10px;
}

.boxInputName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inputName, .btnCreateNewMap, .btnCancellNewMap {
  border-radius: 4px;
  padding: 5px 12px;
  margin-bottom: 12px;
  border: none;
}

.inputName {
  width: 180px;
  margin-bottom: 0;
  border-radius: 0;
  padding: 10px 0 10px 10px;
  background-color: transparent;
  color: white;
  font-size: 18px;
  opacity: .6;
}

.inputName:focus {
  opacity: 1;
  outline: none;
}

.inputIconPencil {
  opacity: .6;
}

.btnCreateNewMap, .btnCancellNewMap {
  cursor: pointer;
}

.btnCreateNewMap {
  background-color: rgb(39, 187, 64);
  color: white;
  width: 100%;
}

.btnCreateNewMap:hover {
  background-color: rgb(3, 161, 29);;
  transition: .1s all ease-in-out;
}

.btnCancellNewMap {
  background-color: rgb(255, 113, 113);
  color: white;
  width: 100%;
}

.btnCancellNewMap:hover {
  background-color: rgb(247, 77, 77);
  transition: .1s all ease-in-out;
}